<div>
    <h1 style="text-align: center;">Atualização de senha</h1>
    <form nz-form [formGroup]="updatePasswordForm" (ngSubmit)="submitForm()">
        <input type="text" name="username" style="display:none;" autocomplete="username" />
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="currentPassword">
                <span>Senha atual</span>
            </nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="24">
                <input autocomplete="current-password" nz-input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Current Password"
                    maxlength="30" />
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>
                <span>Nova senha</span>
            </nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="24" [nzErrorTip]="
    updatePasswordForm.get('password')?.hasError('required') ? 'Por favor, insira a senha.' :
    updatePasswordForm.get('password')?.hasError('minlength') ? 'A senha deve ter no mínimo 6 caracteres.' : ''
">
                <input autocomplete="new-password" nz-input type="password" id="password" formControlName="password" placeholder="Password"
                    maxlength="30" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>
                <span>Confirme a senha</span>
            </nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="24" [nzErrorTip]="
    updatePasswordForm.get('confirmPassword')?.hasError('required') ? 'Confirme a senha.' :
    updatePasswordForm.get('confirmPassword')?.hasError('notMatch') ? 'As senhas não coincidem.' : ''
">
                <input autocomplete="new-password" nz-input type="password" id="confirmPassword" formControlName="confirmPassword"
                    placeholder="Confirm Password" maxlength="30" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button class="me-1" nz-button nzType="primary" [nzLoading]="isSubmitting">
                    Atualizar senha
                </button>
                <button (click)="back()" type="button" nz-button nzType="default">
                    Voltar
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>