<h1>Sorteio de Times</h1>

@if(!matchmakingResult){
  <div>
    <div class="send-request">
      <button hasRole="GENERATE_MATCHMAKING" class="me-1" nz-button nzType="primary" [disabled]="setOfCheckedId.size !== 10"
        (click)="generateMatchmaking('STARS')">
        Sorteio por estrelas
      </button>
      <button hasRole="GENERATE_MATCHMAKING" class="me-1" nz-button nzType="primary" [disabled]="setOfCheckedId.size !== 10" (click)="generateMatchmaking('TIER')">
        Sorteio por elo
      </button>
      <button hasRole="GENERATE_MATCHMAKING" class="me-1" nz-button nzType="primary" [disabled]="setOfCheckedId.size !== 10" (click)="generateMatchmaking('LANE')">
        Sorteio por lane
      </button>
      <button hasRole="GENERATE_MATCHMAKING" nz-button nzType="primary" [disabled]="setOfCheckedId.size !== 10" (click)="generateMatchmaking('RANDOM')">
        Sorteio aleatório
      </button>
      <span>{{ setOfCheckedId.size }} jogadores selecionados</span>
    </div>
    
    <h2>Jogadores</h2>
    <button hasRole="CREATE_PLAYER" class="mb-2 me-1" nz-button nzType="primary" (click)="openNewPlayerModal()">
      Novo jogador
    </button>
    @if(setOfCheckedId.size > 0){
      <button hasRole="UPDATE_RANKED_TIER_PLAYER" (click)="updateRankedTiersBatch()"
      [nzLoading]="isLoadingUpdateTiers"
      [disabled]="isLoadingUpdateTiers"
      nz-tooltip nzTooltipTitle="Atualizar tier selecionados" nzTooltipPlacement="top"  class="me-1" nz-button nzType="default">
        <span nz-icon nzType="sync"></span>
      </button>
      <button hasRole="DELETE_PLAYER" (click)="showConfirmDeleteBatch()" nz-tooltip nzTooltipTitle="Excluir selecionados" nzTooltipPlacement="top" nz-button nzType="primary" nzDanger>
        <span nz-icon nzType="delete"></span>
      </button>
    }
    <nz-table [nzData]="players" [nzFrontPagination]="false">
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)"></th>
          <th>Name</th>
          <th>NickName</th>
          <th>Main Lane</th>
          <th>Secondary Lane</th>
          <th>Tier</th>
          <th>Stars</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for(player of players; track player.id){
        <tr>
          <td [nzChecked]="setOfCheckedId.has(player.id)" [nzLabel]="player.name"
            (nzCheckedChange)="onItemChecked(player.id, $event)"></td>
          <td>{{ player.name }}</td>
          <td>{{ player.riotName }}#{{ player.riotTag }}</td>
          <td>{{ player.mainLane }}</td>
          <td>{{ player.secondaryLane }}</td>
          <td>{{ player.tier }}
            @if(player.rank){
            - {{player.rank}}
            }
          </td>
          <td>
            <app-star-rating [readOnly]="true" [(rating)]="player.stars"></app-star-rating>
          </td>
          <td>
            <button hasRole="VIEW_PLAYER" nz-tooltip nzTooltipTitle="Visualizar" nzTooltipPlacement="top"  class="me-1" nz-button nzType="primary" (click)="visualizar(player)">
              <span nz-icon nzType="eye"></span>
            </button>
            <button hasRole="UPDATE_RANKED_TIER_PLAYER" nz-tooltip nzTooltipTitle="Atualizar tier" nzTooltipPlacement="top"  class="me-1" nz-button nzType="default" (click)="updateRankedTier(player.id)">
              <span nz-icon nzType="sync"></span>
            </button>
            <button hasRole="EDIT_PLAYER" nz-tooltip nzTooltipTitle="Editar" nzTooltipPlacement="top"  class="me-1" nz-button nzType="primary" (click)="openEditPlayerModal(player)">
              <span nz-icon nzType="edit"></span>
            </button>
            <button hasRole="DELETE_PLAYER" nz-tooltip nzTooltipTitle="Excluir" nzTooltipPlacement="top" nz-button nzType="primary" (click)="showConfirm(player.id)" nzDanger>
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
        }@empty {}
      </tbody>
    </nz-table>
  </div>
}

@if(matchmakingResult){
  <app-matchmaking-result [matchmakingResult]="matchmakingResult"></app-matchmaking-result>
  <button class="mt-1" nz-button nzType="default" (click)="reset()">
    Voltar
  </button>
}